server {
    listen 80;
    server_name {{ server_name }}; 

    location /api {
        proxy_pass http://localhost:8080;
    }

    location / {
        root /var/www-data/dist/frontend;
        index index.html;
    }
}
