[Unit]
Description=sausage-store

[Service]
User={{ backend_service_user }}

Restart=always

Environment=REPORT_PATH={{ backend_report_directory }}

Environment=LOG_PATH={{ logs_path }}

ExecStart=/usr/bin/java -jar {{ backend_lib_directory }}sausage-store.jar >> /var/log/sausage-store.log 2>&1

[Install]
WantedBy=multi-user.target 
